@model IEnumerable<INF272_Project.ViewModels.HomeworkVM>

@{
    ViewBag.Title = "Index";
}

<style>
    body {
        background-image: url('../../Content/21074350-modern-white-background-seamless-patterns.jpg');
      
    }

    h1 {
        color: midnightblue;
        text-align: left;
        font-family: 'Comic Sans MS'
    }

    h2 {
        color: midnightblue;
        text-align: left;
        font-family: 'Comic Sans MS';
    }

    label {
        color: midnightblue;
        font-family: Calibri;
    }

    p {
        font-size: 20px;
        font-family: Calibri;
        color: midnightblue;
    }

    table {
        width: 70%;
    }

    th, td {
        padding: 15px;
        text-align: left;
    }

    th {
        background-color: midnightblue;
        font-family: 'Comic Sans MS';
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>


<h1>STAR kidZ</h1>
<h2>Homework</h2>

<input onclick="@("window.location.href='" + @Url.Action("AddHomework", "Star") + "'");" type="submit" value="Add Homework Item" />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HomeworkDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Questions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarkAchieved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HomeworkDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarkAchieved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
<input onclick="@("window.location.href='" + @Url.Action("DeleteHomework", "Star") + "'");" type="submit" value="Delete Homework Item" />
<br />
<br />
<input onclick="@("window.location.href='" + @Url.Action("adminHome", "Star") + "'");" type="submit" value="Back" />