@model INF272_Project.Models.Donation

@{
    ViewBag.Title = "Create";
}
<style>
    body {
        background-image: url('../../Content/21074350-modern-white-background-seamless-patterns.jpg');
    }

    h1 {
        color: midnightblue;
        text-align: left;
        font-family: 'Comic Sans MS'
    }

    h2 {
        color: midnightblue;
        text-align: left;
        font-family: 'Comic Sans MS';
    }

    label {
        color: midnightblue;
        font-family: Calibri;
    }

    p {
        font-size: 20px;
        font-family: Calibri;
        color: midnightblue;
    }
</style>

<body>
    <h1>STAR kidZ</h1>
    <p>Help us at STAR kiDZ by funding the project that will grow and establish the young minds of tomorrow</p>



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />




            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
 


            <div class="form-group">
                @Html.LabelFor(model => model.Amount, "Amount (ZAR)",htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <label>Payment Type</label>
                    <select id="Select1" style="align-items:stretch">
                        <option>EFT</option>
                        <option>Credit card</option>
                        <option>Debit card</option>
                    </select>

                    <label>Card number</label><input type="text" />
                    <br />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Donate Now" class="btn btn-default" />
                </div>
            </div>

        </div>
    }

    <div>
        @Html.ActionLink("Back", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>