@model IEnumerable<INF272_Project.Models.Donation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-image: url('../../Content/21074350-modern-white-background-seamless-patterns.jpg');
    }

    h1 {
        color: midnightblue;
        text-align: left;
        font-family: 'Comic Sans MS'
    }

    h2 {
        color: midnightblue;
        text-align: left;
        font-family: 'Comic Sans MS';
    }

    label {
        color: midnightblue;
        font-family: Calibri;
    }

    p {
        font-size: 20px;
        font-family: Calibri;
        color: midnightblue;
    }
</style>


    <h1>STAR kidZ</h1>
    <h2>Donations</h2>
<p>
    @Html.ActionLink("Make a donation", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DonationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DonationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DonationID })
        </td>
    </tr>
}

</table>
<input onclick="@("window.location.href='" + @Url.Action("login", "Star") + "'");" type="button" value="Back" />