@model INF272_Project.ViewModels.QuestionViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Question</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuestionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarkAllocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarkAllocation)
        </dd>

    </dl>

    @using (Html.BeginForm("Index", "Question")) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back", "Index")
        </div>
    }
</div>

<style>
    body {
        background-image: url('../../Content/moving-stars-on-black-background_41x3vg3x__F0000.png');
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
    }
</style>