
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <title>Reports</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
</head>
<body >

    <h1 style="color:white">Starz Kidz</h1>
    <h3 style="color:white">Reports</h3>
    <h4 style="color:white">Hi, Britanny</h4>

    <div id="reportHome"></div>

    <div style="background-color:midnightblue">

        <h3 style="color:white">How would you like to view your report?</h3>
        <br />

        <input type="submit" value="PDF document" onclick="@("window.location.href='" + @Url.Action("PDFdocument", "Star") + "'");">
        <input type="submit" value="E-Mail" onclick="@("window.location.href='" + @Url.Action("Email", "Star") + "'");">
        <input type="submit" value="Back" onclick="@("window.location.href='" + @Url.Action("home", "Star") + "'");">

    </div>

</body>



