@model INF272_Project.Models.Grade

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <style>
        body {
            background-image: url('../../Content/21074350-modern-white-background-seamless-patterns.jpg');
        }

        h1 {
            color: midnightblue;
            text-align: left;
            font-family: 'Comic Sans MS'
        }

        h2 {
            color: midnightblue;
            text-align: left;
            font-family: 'Comic Sans MS';
        }

        label {
            color: midnightblue;
            font-family: Calibri;
        }

        p {
            font-size: 20px;
            font-family: Calibri;
            color: midnightblue;
        }

        table {
            width: 70%;
        }

        th, td {
            padding: 15px;
            text-align: left;
        }

        th {
            background-color: midnightblue;
            font-family: 'Comic Sans MS';
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Grade1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GradeID }) |
    @Html.ActionLink("Back", "Index")
</p>
