

@{
    ViewBag.Title = "home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div align="right">
    <input onclick="@("window.location.href='" + @Url.Action("adminLogin", "Star") + "'");" type="button" value="Logout" />
</div>





<h2 style="color:white; font-family: 'Comic Sans MS'">Star Kidz Administration</h2>
<div class="home">
    <div> <button onclick="@("window.location.href='" + @Url.Action("ReadTest", "Star") + "'");">Tests</button></div>
    <br />

    <div align="left">
        <button onclick="@("window.location.href='" + @Url.Action("Index", "HWCRUD") + "'");">Homework</button>
    </div>
    <br />
    <button onclick="@("window.location.href='" + @Url.Action("ViewSubjects", "Star") + "'");">Subjects</button>
    <br />
    <br />
    <button onclick="@("window.location.href='" + @Url.Action("Index", "Question") + "'");">Questions</button>
    <br />
    <br />
    <div align="left">
        <button onclick="@("window.location.href='" + @Url.Action("Index", "Grades") + "'");">Grade Setup</button>
    </div>
    <br />

    <div align="left">
        <button onclick="@("window.location.href='" + @Url.Action("Index", "Donations") + "'");">Make A Donation</button>
    </div>
</div>

<style>
    body {
        background-image: url('../../Content/moving-stars-on-black-background_41x3vg3x__F0000.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .home {
        font-size: 30px;
        margin: auto;
        width: 50%;
        border: 3px white;
        border-style: solid;
        border-width: medium;
        padding: 10px;
        padding: 12px 20px;
        box-sizing: border-box;
        font-family: 'Comic Sans MS'
    }
</style>