@model IEnumerable<INF272_Project.ViewModels.SubjectViewModel>

@{
    ViewBag.Title = "ViewSubjects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <body style="        background-image: url('../../Content/JcG7YPZ7cvSbL6k6asXMt7Yu.jpg');
        background-size: cover">
        <h2>Subjects</h2>

        <p>
            @Html.ActionLink("Add Subject", "Subjects")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor( model => model.mSubjectTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.mSubjectDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.mSubjectCredits)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.mSubjectTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mSubjectDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mSubjectCredits)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }

        </table>

        <p>
            @Html.ActionLink("Delete Subject", "DeleteSubject")
        </p>

        <p>
            @Html.ActionLink("Update Subject", "UpdateSubject")
        </p>
        <br />
        <br />
        <input type="submit" value="Back" onclick="@("window.location.href='" + @Url.Action("adminHome", "Star") + "'");" style="color:black">
