@model IEnumerable<INF272_Project.Models.Donation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-image: url('../../Content/21074350-modern-white-background-seamless-patterns.jpg');
    }

    h1 {
        color: midnightblue;
        text-align: left;
        font-family: 'Comic Sans MS'
    }

    h2 {
        color: midnightblue;
        text-align: left;
        font-family: 'Comic Sans MS';
    }

    label {
        color: midnightblue;
        font-family: Calibri;
    }

    p {
        font-size: 20px;
        font-family: Calibri;
        color: midnightblue;
    }

    payment {
        visibility: hidden;
    }
</style>

<h2>Donations</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment.CardNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donor.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payment.CardNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donor.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DonationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DonationID }) 
        </td>
    </tr>
}

</table>

@Html.ActionLink("Back","AdminHome","Star")
