@model INF272_Project.Models.Donor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-image: url('../../Content/21074350-modern-white-background-seamless-patterns.jpg');
    }

    h1 {
        color: midnightblue;
        text-align: left;
        font-family: 'Comic Sans MS'
    }

    h2 {
        color: midnightblue;
        text-align: left;
        font-family: 'Comic Sans MS';
    }

    label {
        color: midnightblue;
        font-family: Calibri;
    }

    p {
        font-size: 20px;
        font-family: Calibri;
        color: midnightblue;
    }

    payment {
        visibility: hidden;
    }
</style>
<h2>Donor Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DonorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
